/*
kyncl_EX2.CSS
Module 3.2 Assignment 
Name: Brittany Kyncl
Date: 1.12.23
Course: CSD340
*/
/* oswald-300 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url('_fonts/oswald-v49-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('_fonts/oswald-v49-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('_fonts/oswald-v49-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('_fonts/oswald-v49-latin-300.woff') format('woff'), /* Modern Browsers */
         url('_fonts/oswald-v49-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('_fonts/oswald-v49-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
  }
  /* oswald-500 - latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('_fonts/oswald-v49-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('_fonts/oswald-v49-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('_fonts/oswald-v49-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('_fonts/oswald-v49-latin-500.woff') format('woff'), /* Modern Browsers */
         url('_fonts/oswald-v49-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('_fonts/oswald-v49-latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
  }
  /* oswald-700 - latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('_fonts/oswald-v49-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('_fonts/oswald-v49-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('_fonts/oswald-v49-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('_fonts/oswald-v49-latin-700.woff') format('woff'), /* Modern Browsers */
         url('_fonts/oswald-v49-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('_fonts/oswald-v49-latin-700.svg#Oswald') format('svg'); /* Legacy iOS */
  }
/* quattrocento-regular - latin */
@font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    src: url('_fonts/quattrocento-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('_fonts/quattrocento-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('_fonts/quattrocento-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('_fonts/quattrocento-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('_fonts/quattrocento-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('_fonts/quattrocento-v17-latin-regular.svg#Quattrocento') format('svg'); /* Legacy iOS */
  }
  /* quattrocento-700 - latin */
  @font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    src: url('_fonts/quattrocento-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('_fonts/quattrocento-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('_fonts/quattrocento-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('_fonts/quattrocento-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('_fonts/quattrocento-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('_fonts/quattrocento-v17-latin-700.svg#Quattrocento') format('svg'); /* Legacy iOS */
  }
html,body {
    font-size: 16px;
}
p {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    font-weight: 400;
    line-height: 1.4em;
}
h1 {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-size: 3.052em;
    font-weight: 700;
    word-spacing: .5em;
    text-transform: uppercase;
    text-align: center;
    margin:0;
}
h2 {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-size: 2.441em;
    font-weight: 500;
    word-spacing: .2em;
    text-align: left;
    margin: 0;
    padding-top: 15px;
}
p.intro {
    text-indent: 2em;
}
span.sentence {
    font-style: italic;
}
address {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    text-align: center;
}

a{
    color: #4F3674;
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

a:link {
    color: #4F3674;   
}
a:visited {
    color:blue;
}
a:hover {
    color: #D6A800;
    text-decoration: underline;
}

