/*
kyncl_EX4.html
Module 5.2 Assignment 
Name: Brittany Kyncl
Date: 1.24.23
Course: CSD340
*/
body{
    background-color: rgba(247, 112, 24, 0.20);
	font-family: 'Oswald', Verdana, Arial, sans-serif;
}
.image-gallery {
    display: grid;
    grid-auto-flow: column;
    margin-top: 10%;
}
.grid-child {
	border: 1px solid rgba(185, 63, 8);
	border-radius: 15px;
    padding: 5px;
}
h1, h3, figure {
    color: rgba(185, 63, 8);
    font-weight: 400;
	text-align: center;
}
figcaption {
    font-size: .75em;
    font-style: italic;
}
img {
    height: 350px;
    width: 400px;
}
.footer{
    float: right;
    margin-top: 10%;
    padding-bottom: 20px;
}
a:link{
    color: rgba(185, 63, 8);
    text-decoration: none;
}
a:visited {
    color: rgba(185, 63, 8);
	text-decoration: none;
}
a:hover {
    text-decoration: underline;
}