/*
kyncl_EX4.html
Module 5.2 Assignment 
Name: Brittany Kyncl
Date: 1.24.23
Course: CSD340
*/
body{
    background-color: lightcoral; /*specify fallback color*/
    background-color: rgba(247, 112, 24, 0.20);
	font-family: 'Oswald', Verdana, Arial, sans-serif;
}
.image-gallery {
    display: grid;
    grid-auto-flow: column;
    margin-top: 10%;
}
.grid-child {
	border: 1px solid;
    border-color: brown; /*specify fallback color*/
    border-color: rgba(185, 63, 8);
	border-radius: 15px;
    padding: 5px;
}
h1, h3, figure {
    color: brown; /*specify fallback color*/
    color: rgba(185, 63, 8);
    font-weight: 400;
	text-align: center;
}
figcaption {
    font-size: .75em;
    font-style: italic;
}
img { /*img height and width specs from instructions*/
    height: 350px;
    width: 400px;
}
.footer{ /*no style instructions listed for index link, styling based on final sol. visual*/
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
}
a:link {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: blue;
}
a:hover {
    text-decoration: none;
}
